body {
  background-color: blue;
  text-align: center;
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  color: red;
  background-image: url("./images/cloud.jpg");
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  /*color: white;*/
}

.top-gun-logo {
  width: 50%;
}

input {
  outline: none;
  border-radius: 3px;
  padding: 3px;
  height: 15px;
  border: 1px solid #BDC3C7;
  width: 180px;
}

button {
  height: 24px;
  border: none;
  border-radius: 3px;
  background-color: lightgreen;
  font-family: "Comic Sans MS", sans-serif;
  color: red;
}

#footer {
  display: flex;
  flex-direction: column;
}

#folders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#title {
  justify-content: space-around;
  display: flex;
}

.real {
  display: none;
}

.logo {
  width: 200px;
}

.input-fields {
  width: 100%;
  display: flex;
  justify-content: center;
}

.folder-input-section {
  margin-right: 30px;
}

.url-input-section {
  margin-right: 30px;
}

.filter-buttons {
  margin-right: 30px;
}

#selected-folder-container {
  display: flex;
  margin: 0 auto;
  /*align-items: center;*/
  justify-content: center;
}

#links-and-folders {
  display: flex;
}

#links {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

#folders {
  display: flex;
  flex-direction: column;
  width: 33%;
}

h4:hover {
  text-decoration: underline;
}

.link {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  margin: 10px;
}

.page-break {
  height: 0px;
  width: 80%;
  border: 5px groove red;
  margin: 2px auto;
}

.netscape {
  margin: 1px auto;
}

.new-folder {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  margin: 20px;
}
