body {
  background-color: #ECF0F1;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  background-color: #558c6d;
  padding: 10px 0;
  font-size: 3em;
  margin-top: 0
}

input {
  outline: none;
  border-radius: 5px;
  padding: 5px;
  height: 31px;
  border: 1px solid #BDC3C7;
  width: 220px;
  font-family: sans-serif;
  font-size: 1em;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  border-radius: 5px;
}

button {
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  border-color: #558C6D;
  border-style: solid;
  margin-left: 5px;
}

button:hover {
  background-color: #d5e0d5;
  color: black;
}

p {
  margin: 2px auto 5px;
}

h5 {
  color: #ffffff;
  margin: 2px auto 10px;
  padding: 10px 0;
  background-color: #333333;
  text-decoration: none;
}

h6 {
  margin: 10px auto 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border: none;
}


#filter-by-date {
  padding: 7px 9px;
  margin-right: 5px;
}

#folders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
}

#selected-folder {
  margin-left: 5px;
  font-size: 1.2em;
}

#selected-folder-title {
  visibility: hidden;
}

#selected-folder-container {
  margin: 10px auto;
}

#selected-folder-container p {
  font-weight: bold;
}

#links-and-folders {
  display: flex;
}

#links {
  display: flex;
  flex-wrap: wrap;
}

#what-year-is-it {
  margin-right: 20px;
  margin-top: 0;
}

#folder-img-selected-div:parent {
  background: #e8e8e8;
}

.nineties {
  display: none;
}

.real-logo {
  height: 60px;
  margin: 0 10px;
}

.real {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-input-section {
  margin-right: 30px;
}

.url-input-section {
  margin-right: 30px;
}

.filter-buttons {
  margin-right: 30px;
}

.folder-delete-button {
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 10px;
  border-color: #635f5d;
}

.new-folder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px 20px 5px;
  background: #DDDDDD;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

.selected {
  background: #d5e0d5;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
}

.folder-img-div {
  height: 50px;
  display: flex;
  align-items: center;
  width: 50px;
  background: #DDDDDD url(./images/folder-closed.svg.png) no-repeat center center;
  background-size: contain;
  margin-left: 0px;
  margin-right: auto;
}

.new-folder:hover {
  background-color: #d5e0d5;
  border: black;
  border-color: black;
}

.new-folder:hover .folder-img-div {
  height: 50px;
  display: flex;
  align-items: center;
  width: 50px;
  background: #d5e0d5 url(./images/folder-open.svg.png) no-repeat center center;
  background-size: contain;
  margin-left: 0px;
  margin-right: auto;
}

.selected .folder-img-div {
  height: 50px;
  display: flex;
  align-items: center;
  width: 50px;
  background: #d5e0d5 url(./images/folder-open.svg.png) no-repeat center center;
  background-size: contain;
}

.folder-container-div {
  width: 200px;
}

.link {
  margin: 5px 15px;
  padding: 5px;
  border: 1px #333333 solid;
  height: 185px;
  width: 290px;
}

.short-link-clicks {
  padding: 10px 0;
  margin: 15px auto;
  color: #333333;
  font-size: 1.2em;
}
